@CHARSET "ISO-8859-1";

h1 {
	max-width: 500px;
	margin: auto;
}

h5 {
	max-width: 500px;
	right: 50%;
	bottom: 0;
	position: absolute;
}

p {
	margin-left: auto;
	margin-right: auto;
	max-width: 500px;
}

.btn {
 left: 43%;
  position: relative;
}

.order-table {
	border: 1px black solid;
}

.order-table-odd {
	background: #EEE;
}

.order-table-header {
	font-weight: bold;
}